.contact{
    width: 100%;
    background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/kk-AVLnvEyZ8ehlnGNB.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 49vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 100px;
      color: white;
    }
}
.imput_main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  .input_basliq{
    h3{
      font-size: 40px;
    }
  }
  .inputs{
    display: flex;
    flex-direction: column;
   input {
    width: 300px;
    height: 50px;
    opacity: 0.8;
    margin-bottom: 30px;
    z-index: 1;
  } 
  }
  
}